.BlocksCardsImg {
  width: 100%;
  height: 15vw;
  object-fit: contain;
  padding: 30px;
}

.BlocksCards {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  width: auto;
}

@media (max-width: 768px) {
  .BlocksCardsImg {
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .BlocksCardsImg {
    padding: 0;
  }
}

.BlocksModal .modal-footer .btn {
  border-radius: 4px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
}

.BlocksModal .modal-footer .btn-secondary {
  color: #333;
  background-color: #f8f9fa;
  border-color: #ced4da;
}

.BlocksModal .modal-footer .btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.BlocksModal .modal-footer .btn:hover,
.BlocksModal .modal-footer .btn:focus {
  opacity: 0.8;
}
.inlineInput {
  background-color: transparent;
  border: 0;
  padding: 8px;
}

.inlineInput:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}


/* MODAL */
.modal{
  transition: all .2s;
  
}


.BlocksModal .modal-content {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: #fff; /* Light gray background */
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Arial', sans-serif; /* Example font */
}

.BlocksModal .modal-header {
  border-bottom: none;
  background-color: #fff;  /* White background for header */
  padding: 20px;
}

.BlocksModal .modal-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0;
}

.BlocksModal .modal-body {
  padding: 20px;
}

.BlocksModal .modal-body strong {
  font-weight: 600;
}

.BlocksModal .modal-footer {
  border-top: none;
  background-color: #ffffff; /* White background for footer */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.BlocksModal .btn {
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.BlocksModal .btn-secondary {
  color: #333;
  background-color: #e0e0e0; /* Light gray */
  border-color: #e0e0e0;
}

.BlocksModal .btn-danger {
  color: #ffffff;
  background-color: #dc3545; /* Red */
  border-color: #dc3545;
}

.BlocksModal .btn:hover,
.BlocksModal .btn:focus {
  opacity: 0.8;
}

.modal-footer .btn + .btn {
  margin-left: 10px;
}
