.svg-circleplus {
    height: 125px !important;
    stroke: black;
  }
  
  .newBlockBtn {
    border: none;
    outline: none;
    transition: transform 0.3s ease; 
  }
  
  .newBlockBtn:hover {
    transform: scale(1.1);
  }
  
  .newBlockBtn:active {
    transform: scale(1);
  }
  
  .newBlockBtn:active .svg-circleplus {
    fill: black;
  }
  
  .addBlockSign {
    cursor: pointer;
    width: 175px;
    opacity: 0.65;
    transition: transform 0.3s ease;
  }
  
  .addBlockSign:hover {
    transform: scale(1.1);
    opacity: 1; 
  }